#versionHeader
{
  
  text-align: center;
  text-shadow: 2px 2px 5px #e921ce;
  opacity: .75;
}



.button
{
  margin-top: 5px;
  margin-bottom: -5px;
  background-color: #d1e4e3;
  
}

#footer
{
  text-shadow: 2px 2px 5px #e921ce;
  text-align: center;
  opacity: .75;
  margin-top: 100px;
}

#pumpkin
{
  width: 150px;
  height: 80px;
  float: right;
  margin-right: 5%;
  margin-top: 1.5%;
  position: relative;
  border: solid;

}
#sharebutton
{
  
  margin-bottom: -5px;
  margin-left: -16.5%;
}

.textbox
{
  float: left;
  margin-right: 8%;
}

#center
{
  text-align: center;
   margin-left: -10%;
}

#name
{
  margin-top: 1.5%;
  margin-left: -5%;
}

.left
{
  float: left;
}


.content {
  margin: auto;
  width: 100%;
  border: 3px solid green;
  padding: 10px;
  padding-bottom: 15px;
  
}

body
{
  background-color: rgb(144, 225, 245);
  
}

li
{
  text-align: justify;
  margin-left: 35%;
}

#btnSubmit
{
  

}
